body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	padding-top: 2em;
	text-align: center;
}

.page-enter-active, .page-leave-active {
	transition: opacity .3s
}
.page-enter, .page-leave-active {
	opacity: 0
}